*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #2c2c2c;
}

body {
	font-family: Arial, sans-serif;
	background-color: #17202a;
}

.divBackgroundParticles{
	position: fixed;
	width: 100%;
	height: 100%;
}


.div-inicio{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.divContenedoInicio{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}

.h1-inicioNombre{
	width: 100%;
	text-align: center;
	font-size: 6em;
	font-family: Century;
	color: #e0e2e9;
}

.h3-inicio {
	text-align: center;
	font-family: Century;
	color: #e0e2e9;
	padding: 0.5%;
    font-size: 1.3em;
}

.div-skills{
	width: 100%;
	padding: 1%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: "h1 h1 h1 h1 h1";
}

.div-skills .h1-tituloSkills{
	grid-area: h1;
	text-align: center;
	padding: 1%;
	margin: 1%;
}

.div-contenerdor-skill{
	justify-self: center;
}

section h3 {
	text-align: center;
	padding: 1%;
	font-size: 1.5em;
}

.h3-title{
	font-family: Century;
	color: #e0e2e9;
	font-size: 2rem;
}

/*RRSS*/

.div-inicio-RRSS{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	padding: 0.5%;
}

.div-inicio-RRSS a {
	text-decoration: none;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	font-size: 20px;
	overflow: hidden;
	position: relative;
	color: #e0e2e9; 
	border: 2px solid #e0e2e9;
	border-radius: 10px;
	transition: all 0.2s linear 0s;	
}

.div-inicio-RRSS a &:last-child {
	margin-right: 0px;
}

.div-inicio-RRSS a &:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.div-inicio-RRSS a i {
	position: relative;
	z-index: 3;
	display: inline-block;
	vertical-align: middle;
	color: #e0e2e9;
}

.div-inicio-RRSS a {
	&:after {
		content: "";
		display: block;
		width: 90%;
		height: 90%;
		top: -110%;
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;
		background-color: #e0e2e9;
		border-radius: 5px;
	}
	
	&:hover {
		&:after {
			top: 5%;
			transition: all 0.2s linear 0s;
		}
	}

	&:hover i {
	color: #2c2c2c;
	}
}

.pdfcv i{
	font-family: Arial;
	font-weight: bold;
    font-size: 0.9em;
}

.extra {
	width: 100%;
	height: 500px;
}