*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
/*	background-color: #f4f4f4;*/
background-color: red;
}

.divBackgroundParticles{
	position: fixed;
	width: 100%;
	height: 100%;
/*	background-color: blue;*/
/*	background-size: cover;*/
/*	background-position: 50% 50%;*/
/*	background-repeat: no-repeat;*/
}


.div-inicio{
	width: 100%;
	height: 100vh;
	/*	background-color: yellow;*/
	/*display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		"barraSuperior barraSuperior"
		"titulo imagen";*/
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
/*    align-content: center;*/
/*    flex-direction: column;*/
}

.divContenedoInicio{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
/*    align-content: center;*/
flex-direction: column;
}

.h1-inicioNombre{
	width: 100%;
	text-align: center;
	font-size: 5em;
	font-family: Century;

}

.div-skills{
	width: 100%;
	padding: 1%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: "h1 h1 h1 h1 h1";
}

.div-skills .h1-tituloSkills{
	grid-area: h1;
	text-align: center;
	padding: 1%;
	margin: 1%;
}

.div-contenerdor-skill{
	justify-self: center;
}

section h3 {
	background-color: cyan;
	text-align: center;
	padding: 1%;
	font-size: 1.5e
}

/*RRSS*/

.div-inicio-RRSS{
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.div-inicio-RRSS a {
	text-decoration: none !important;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	margin-right: 20px;
	font-size: 20px;
	overflow: hidden;
	position: relative;
	color: green; 
	border: 2px solid orange;
	transition: all 0.2s linear 0s;
	
	
}

.div-inicio-RRSS  a i {
	position: relative;
	z-index: 3;
}

.div-inicio-RRSS a &:last-child {
	margin-right: 0px;
}

.div-inicio-RRSS a &:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.div-inicio-RRSS a i {
	display: inline-block;
	vertical-align: middle;
}

.div-inicio-RRSS a {
	
	&:after {
		content: "";
		display: block;
		width: 90%;
		height: 90%;
		top: -110%;
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;
		background-color: white;
		border-radius: purple;
	}
	
	&:hover {
		color: black;
		
		&:after {
			top: 5%;
			transition: all 0.2s linear 0s;
		}
	}
}
}


.div-inicioFoto{
	/*background-repeat: no-repeat;
	background-position: right center;*/
	/*background-size: 150%;
	grid-area: imagen;*/
}

/*.div-inicio{
	background-color: rgba(50,50,50,0.5);
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}*/
/*
.div-inicio-inicialesIdiomas{
	position: relative;
	width: 18%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 2px;
}

.div-inicio-inicialesIdiomas span{
	flex-grow: 1;
	text-align: center;
	font-size: 17px;
}

.div-inicio-inicialesIdiomas a{
	color: #FBFAFB;
}*/

/*@media(max-width: 700px){
	.div-inicio-letrasOMI h1{
		font-size: 5em;
	}
}

@media(max-width: 500px){
	.div-inicio-letrasOMI h1{
		font-size: 3.5em;
	}

	.div-inicio-inicialesIdiomas span{
		font-size: 14px;
	}
}*/

.extra {
	width: 100%;
	height: 500px;
}