.tecnologias{
	background-color: purple;
	position: relative;
	width: 90%;
	height: 800px;
/*	display: flex;*/
/*	justify-content: space-around;*/
	margin: auto;
}

.divContenedorTecnologias{
	height: 750px;
	display: flex;
	justify-content: space-around;
	margin: 2% auto 2%;
}

.cicurloGrandre {
/*	background-color: orange;*/
	position: relative;
	width: 200px;
	height: 450px;
/*	margin: auto;*/
}

.circuloGrandeLateral {
	top: 225px;
}

.circuloCentral {
	background-color: red;
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius:50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
}

.circuloCentral h5 {
	text-align: center;
}

.circulo {
/*	background-color: white;*/
	position: absolute;
	width: 120px;
	height: 120px;
/*	border-radius:50%;*/
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
align-content: center;
justify-self: center;
}

.circulo img {
	position: relative;
	width: 80%;
	margin: auto;
}

.circulo span {
	text-align: center;
}


.certificaciones{
	background-color: rgba(255, 255, 0, 0.8);
	width: 90%;
	margin: auto;
	padding: 1%;
}

/*.certificaciones h3{
	background-color: cyan;
	text-align: center;
	padding: 1%;
	font-size: 1.5em;
}*/

.divContenedorCertificaciones{
/*	background-color: red;*/
	width: 100%;
/*	height: 500px;*/
display: flex;
flex-direction: row;
justify-content: center;
}

.certificacion {
/*	background-color: orange;*/
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.certificacion * {
	padding: 1%;
}

.certificacion img {
	width: 50%;
}
