.tecnologias{
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	width: 80%;
	margin: auto;
	border-radius: 25px;
	margin-bottom: 1%;
}

.divContenedorTecnologias{
	height: 800px;
	display: flex;
	justify-content: space-evenly;
	margin: 1% auto 0;
}

.cicurloGrandre {
	position: relative;
	width: 200px;
	height: 450px;
}

.circuloGrandeLateral {
	top: 300px;
}

.circuloCentral {
	background-color: rgba(224, 226, 233, 0.9);
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
	box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
	font-size: 1.2em;
}

.circuloCentral h5 {
	text-align: center;
	padding: 1%;

}

.circulo {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-self: center;
}

.circulo img {
	position: relative;
	width: 80%;
	margin: auto;
	filter: drop-shadow(0px 0px 11px rgba(0,0,0,0.75));
}

.circulo span {
	text-align: center;
	color: #e0e2e9;
}


/* Certificaciones */
.certificaciones{
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	margin: auto;
	padding: 1%;
	margin-bottom: 1%;
}

.certificaciones h3{
	padding: 0.5%;
	color: #2c2c2c;
}

.divContenedorCertificaciones{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.certificacion {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.certificacion * {
	padding: 1%;
}

.certificacion img {
	width: 50%;
	filter: drop-shadow(0px 0px 11px rgba(0,0,0,0.75));
}
