.timeline {
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	width: 80%;
	margin: auto;
	padding: 0 1% 5% 1%;
	border-radius: 25px;
	margin-bottom: 1%;
}

.divContenedoraTimeline{
	position: relative;
	width: 70%;
	margin: 1% auto;
	display: flex;
	gap: 50px;
	flex-direction: row;
}

/*linea del tiempo vertical*/
.divContenedoraTimeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #555;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	border-radius: 10px;
}

.experiencia,
.formacion {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.container {
	padding: 2.5% 5%;
	position: relative;
	background-color: #ecf0f1;
	border-radius: 8px;
}

.container::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	z-index: 1;
}

.experiencia .container::before {
	right: -22px;
	border-left: 22px solid #ecf0f1;
}

.formacion .container::before {
	left: -22px;
	border-right: 22px solid #ecf0f1;
}

.experiencia-2 {
	flex-grow: 1;
}

.experiencia-1 {
	flex-grow: 2;
}

.experiencia--1{
	flex-grow: 4;
}

.formacion-4 {
	flex-grow: 5;
}

.formacion-3 {
	flex-grow: 4;
}

.formacion-25{
	flex-grow: 2;
}

.formacion-2 {
	flex-grow: 1;
}

.formacion-1 {
	flex-grow: 1;
}

.content {
	padding: 20px;
	background-color: #ecf0f1;
	position: relative;
	border-radius: 8px;
}

.empresa,
.institucion {
	text-align: center;
	font-weight: normal;
	font-style: oblique;
}

.periodo{
	text-align: center;
	padding: 1% 0;
}

.ulDescripcion{
	padding: 5% 0 0 5%;
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.divTecnologias {
	position: relative;
	padding: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px 5px;
}

.divTecnologias span {
	background-color: #99a3a4;
	position: relative;
	padding: 1% 3%;
	border-radius: 40%;
	font-size: 0.9rem;
	padding: 6px 12px;
	border-radius: 25px
}