<section class="contactame" id="divContactame">
		<div class="div-contactame-contenedora">
			<h3 class="h3-title">Contacta conmigo</h3>
			<p class="p-contactame">
				Contactame a través del formulario o envia un correo a:
				<a href="mailto:renedogj@gmail.com">renedogj@gmail.com</a>
			</p>
			<hr/>
			<form method="POST" id="formularioEnviarCorreo">
				<div class="div-contactame-nombreEmpresa">
					<div class="div-contactame-nombre">
						<label for="nombre">Nombre:</label>
						<input type="text" name="nombre" id="nombre" placeholder="Nombre" required/>
						<label id="nombre-error" class="error" for="nombre"></label>
					</div>
					<div class="div-contactame-empresa">
						<label for="empresa">Empresa:</label>
						<input type="text" name="empresa" id="empresa" placeholder="Empresa"/>
					</div>
				</div>
				<div class="div-contactame-email">
					<label for="email">E-mail:</label>
					<input type="email" name="email" id="email"  placeholder="E-mail" required/>
					<label id="email-error" class="error" for="email"></label>
				</div>
				<div class="div-contactame-mensaje">
					<label for="email">Mensaje:</label>
					<textarea class="form-control" id="mensaje" name="mensaje" rows="10" placeholder="Escribe tu mensaje" required></textarea>
					<label id="mensaje-error" class="error" for="mensaje"></label>	
				</div>
				<div class="contactame-enviar">
					<input type="submit" id="bttnEnviarCorreo" value="Enviar"/>
				</div>
			</form>
		</div>
</section>