	<section class="proyectos">
		<h3>Mis proyectos</h3>
		<div class="divContenedorProyectos">
			<div class="proyecto">
				<h4>Nombre Proyecto</h4>
				<img class="imgProyecto" src="img/logo_java.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="divButtonsProyecto">
					<a class="aButtonIrProyecto">Ver proyecto →</a>
					<a class="aButtonIrCodigo">
						<div class="divContainerIcon">
							<img src="img/codigo.png" class="icon">
						</div>
						Código
					</a>
				</div>
			</div>
			<div class="proyecto">
				<h4>Nombre Proyecto</h4>
				<img class="imgProyecto" src="img/logo_java.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="divButtonsProyecto">
					<a class="aButtonIrProyecto">Ver proyecto →</a>
					<a class="aButtonIrCodigo">
						<div class="divContainerIcon">
							<img src="img/codigo.png" class="icon">
						</div>
						Código
					</a>
				</div>
			</div>
			<div class="proyecto">
				<h4>Nombre Proyecto</h4>
				<img class="imgProyecto" src="img/logo_java.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="divButtonsProyecto">
					<a class="aButtonIrProyecto">Ver proyecto →</a>
					<a class="aButtonIrCodigo">
						<div class="divContainerIcon">
							<img src="img/codigo.png" class="icon">
						</div>
						Código
					</a>
				</div>
			</div>
			<div class="proyecto">
				<h4>Nombre Proyecto</h4>
				<img class="imgProyecto" src="img/logo_java.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="divTecnologias">
					<span>JavaScript</span>
					<span>Git</span>
					<span>JSON</span>
					<span>SQL</span>
				</div>
				<div class="divButtonsProyecto">
					<a class="aButtonIrProyecto">Ver proyecto →</a>
					<a class="aButtonIrCodigo">
						<div class="divContainerIcon">
							<img src="img/codigo.png" class="icon">
						</div>
						Código
					</a>
				</div>
			</div>
		</div>
	</section>
