	<section class="tecnologias">
		<h3 class="h3-title">Tecnologías</h3>
		<div class="divContenedorTecnologias">
			<div class="cicurloGrandre circuloFronted circuloGrandeLateral">
				<div class="circuloCentral">
					<h5>Lenguajes frontend</h5>
				</div>
				<div class="circulo">
					<img src="img/logo_html.png"/>
					<span>HTML</span>
				</div>
				<div class="circulo">
					<img src="img/logo_css.png"/>
					<span>CSS</span>
				</div>
				<div class="circulo">
					<img src="img/logo_JavaScript.png"/>
					<span>JavaScript</span>
				</div>
				<div class="circulo">
					<img src="img/logo_TypeScript.png"/>
					<span>TypeScript</span>
				</div>
				<div class="circulo">
					<img src="img/log_vue.js.png"/>
					<span>Vue.js</span>
				</div>
				<div class="circulo">
					<img src="img/logo_React.js.png"/>
					<span>React.js</span>
				</div>
				<div class="circulo">
					<img src="img/logo_jQuery.png"/>
					<span>jQuery</span>
				</div>
				<div class="circulo">
					<img src="img/logo_bootstrap.png"/>
					<span>Bootstrap</span>
				</div>
			</div>
			<div class="cicurloGrandre ciruloBackend">
				<div class="circuloCentral">
					<h5>Lenguajes generales y backend</h5>
				</div>
				<div class="circulo">
					<img src="img/logo_java.png"/>
					<span>Java</span>
				</div>
				<div class="circulo">
					<img src="img/logo_python.png"/>
					<span>Python</span>
				</div>
				<div class="circulo">
					<img src="img/logo_php.png"/>
					<span>PHP</span>
				</div>
				<div class="circulo">
					<img src="img/logo_kotlin.png"/>
					<span>Kotlin</span>
				</div>
				<div class="circulo">
					<img src="img/logo_node.js.png"/>
					<span>Nodejs</span>
				</div>
			</div>
			<div class="cicurloGrandre circuloDDBB circuloGrandeLateral">
				<div class="circuloCentral">
					<h5>Bases de datos y manejo de datos</h5>
				</div>
				<div class="circulo">
					<img src="img/logo_sql.png"/>
					<span>SQL</span>
				</div>
				<div class="circulo">
					<img src="img/logo_mysql.png"/>
					<span>MySql</span>
				</div>
				<div class="circulo">
					<img src="img/logo_sqlite.png"/>
					<span>SQLite</span>
				</div>
				<div class="circulo">
					<img src="img/logo_java.png"/>
					<span>MongoDB</span>
				</div>
				<div class="circulo">
					<img src="img/logo_java.png"/>
					<span>Firebase</span>
				</div>
				<div class="circulo">
					<img src="img/logo_java.png"/>
					<span>JSON</span>
				</div>
				<div class="circulo">
					<img src="img/logo_java.png"/>
					<span>XML</span>
				</div>
			</div>
		</div>
	</section>
