<section class="timeline" id="timeline">
		<h3 class="h3-title">Recorrido profesional</h3>
		<div class="divContenedoraTimeline">
			<div class="experiencia">
				<div class="container experiencia-2">
					<div class="content">
						<h3>Desarrollador de software</h3>
						<h4 class="empresa">Saints</h4>
						<p class="periodo">Agosto de 2024 - Actualidad (6 meses)</p>
						<div class="divTecnologias">
							<span>JavaScript</span>
							<span>Ionic</span>
							<span>Vue.js</span>
							<span>GitHub</span>
							<span>JSON</span>
							<span>Python</span>
							<span>IOS</span>
							<span>Android</span>
						</div>
						<ul class="ulDescripcion">
							<li>Desarrollo de aplicaciones IOS y Android usando Ionic con Vue.js</li>
							<li>Gestion de archivos JSON y bases de datos no relacionales con python</li>
						</ul>
					</div>
				</div>
				<div class="container experiencia-1">
					<div class="content">
						<h3>Consultor técnico en el Departamento de SAP</h3>
						<h4 class="empresa">NTT-Data</h4>
						<p class="periodo">septiembre de 2022 - octubre de 2024 (2 años)</p>
						<div class="divTecnologias">
							<span>JavaScript</span>
							<span>SAP UI5</span>
							<span>SAP CAP</span>
							<span>Git</span>
							<span>JSON</span>
							<span>SQL</span>
							<span>Git</span>
						</div>
						<ul class="ulDescripcion">
							<li>Creación y desarrollo Frontend de aplicaciones conectándolas con aplicaciones Backend (desarrolladas con SAP CAP) utilizando SAP UI5</li>
							<li>Creación y desarrollo Backend de aplicaciones, haciendo consultas a bases de datos y administrando las mismas utilizando SAP CAP</li>

							<li>Planificación y estimación del desarrollo de las distintas tareas</li>

							<li>Localizar y solucionar con éxito errores encontrados en distintos algoritmos</li>

							<li>Presentar y exponer el avance en las distintas aplicaciones explicando su funcionamiento y como se han realizado, así como creación de material audiovisual como apoyo de la presentación.</li>

							<li>Realización de documentación de proyectos y realización y ejecución de planes de pruebas</li>
						</ul>
					</div>
				</div>
				<div class="experiencia--1"></div>
			</div>
			<div class="formacion">
				<div class="container formacion-4">
					<div class="content">
						<h3>Grado en Ciberseguridad</h3>
						<h4 class="institucion">Universidad internacional de la Rioja (UNIR)</h4>
						<p class="periodo">Septiembre 2024 – Actualidad</p>
						<div class="divTecnologias">
							<span>OSINT</span>
							<span>Java</span>
							<span>Estructuras de datos</span>
							<span>Linux</span>
							<span>Python</span>
							<span>Azure</span>
							<span>AWS</span>
							<span>Bash</span>
						</div>
					</div>
				</div>
				<div class="container formacion-3">
					<div class="content">
						<h3>Master en Ciberseguridad</h3>
						<h4 class="institucion">ENIIT – UCAM</h4>
						<p class="periodo">Marzo de 2023 - Marzo de 2024</p>
						<div class="divTecnologias">
							<span>Criptografía</span>
							<span>Linux</span>
							<span>OSINT</span>
							<span>Seguridad IoT</span>
							<span>Pentesting</span>
							<span>Python</span>
							<span>Kali Linux</span>
							<span>Nmap</span>
							<span>BurpSuit</span>
							<span>Metasploit</span>
							<span>VirtualBox</span>
						</div>
					</div>
				</div>
				<div class="formacion-25"></div>
				<div class="container  formacion-2">
					<div class="content">
						<h3>Técnico Superior de Desarrollo de Aplicaciones WEB</h3>
						<h4 class="institucion">I.E.S. Leonardo Da Vinci</h4>
						<p class="periodo">Septiembre 2021 - Junio de 2022</p>
						<div class="divTecnologias">
							<span>PHP</span>
							<span>SQL</span>
							<span>Bootstrap</span>
							<span>JavaScript</span>
							<span>HTML</span>
							<span>CSS</span>
							<span>Firebase</span>
							<span>JQuery</span>
							<span>Git</span>
							<span>Github</span>
						</div>
					</div>
				</div>
				<div class="container formacion-1">
					<div class="content">
						<h3>Técnico Superior de Desarrollo de Aplicaciones Multiplataforma</h3>
						<h4 class="institucion">I.E.S. Juan de la Cierva</h4>
						<p class="periodo">Septiembre de 2019 - Junio de 2021</p>
						<div class="divTecnologias">
							<span>Java</span>
							<span>HTML</span>
							<span>CSS</span>
							<span>JavaScript</span>
							<span>SQL</span>
							<span>PLS_SQL</span>
							<span>Android</span>
							<span>Kotlin</span>
							<span>VirtualBox</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
